/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%; /* = 10px */
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.4rem; /* = 14px */
    font-family: 'Gowun Batang', serif;
}

.progress-bar {
    position: fixed;
    width: 100%;
    height: 10px;
}

.progress {
    width: 0%;
    height: 100%;
    background: red;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0;
}

h1 {
    font-family: 'Indie Flower', cursive;
    font-size: 3.4rem; /* = 34px */
}

h1::first-letter {
    text-transform: capitalize;
}

h2 {
    font-weight: 700;
}

.table {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 30px 0;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fstatic.pexels.com%2Fphotos%2F218535%2Fpexels-photo-218535.jpeg&f=1&nofb=1");
    background-size: contain;
}

.paper {
    max-width: 850px;
    padding: 35px;
    border-radius: 8px;
    background: whitesmoke;
}

.paper p {
    line-height: 25px;
    text-align: justify;
    font-weight: 400;
}

.paper p::first-letter {
    text-transform: capitalize;
}

footer {
    min-height: 60px;
    font-size: 2.4rem; /* = 24px */
    font-family: 'Indie Flower', cursive;
    line-height: 62px;
    text-transform: capitalize;
}